== render partial: 'layouts/sidebar'

h2.sub-header About
|
p A trail runner understands the importance of carrying the lightest amount possible and also the mandatory requirements to carry the minimum amount of calories to sustain them throughout an unsupported, endurance event.  <em>Tally My Gear</em> is a simple tool designed to help a runner make a list of the gear they intend to carry and tallies the weight and calorific count of their gear.
|
p Each user can add their own gear, and a photo, to the ever growing list so that it's useful for everyone to share.