== render partial: 'layouts/sidebar'

h2.sub-header Contact us
|
|
p.contact This site is being developed and improved, as we speak.
|
p.contact If you would like to give any feedback, please send an email to:

p.contact
	a href="mailto:TallyMyGear@hotmail.com" TallyMyGear@hotmail.com

