/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.navbar-fixed-top {
  background-color: hsla(0, 0%, 0%, 0);
  min-height: 50px;
  padding-top: 10px;
}

.pull_center {
  text-align: center;
  margin-top: 0px;
  margin-bottom:0px;
  float: center;

}

.pull_right {
  text-align: right;
  margin-top: 10px;
  float: right;
}

html, body {

  font-family: Verdana, Helvetica, Arial, sans-serif;
  background: url(Trailrun_Camp_KlausFengler.jpg) no-repeat center center fixed;
  font-color: white;
  background-size: cover;
  height: 100%;

/*  background-position: right;
  background-repeat: no-repeat;
  background-size:  contain;
  margin: 50px !important;
  margin-top: 10px;*/
}

.links {
  padding-top: 125px;
  font-color: hsla(360, 77%, 0%, 1);
}


fieldset {
  padding: 20px;
  margin: 0px;
  border-top: 0px;
  min-width: 0px;

}

.container {
  border-bottom: 50px

}

legend {
  font-size: 18px;
  color: hsla(360, 84%, 98%, 1);
  margin-bottom: 10px;
  padding-top: 100px;
  border-bottom: 0px;

}

h1.header {

  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  color: hsla(360, 84%, 98%, 1);
  margin-top: 0px;
  margin-bottom: 0px;

}

h2.header {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  color: hsla(360, 84%, 98%, 1);
  margin-top: 0px;
  margin-bottom: 0px;
}
/*
.form-horizontal{
  padding: 20px;
}*/

h3.header {
  font-size: 19px;

}


.form-group {
  color: hsla(360, 84%, 98%, 1);
}

.form-group input.entry {
  color: black;
  height: 35px;
  width: 200px;
}

/*.form-control input.entry {
  color: black;
  height: 35px;
  width: 200px;
}*/

.All_Products_list {
  padding-top: 75px;
  font-size: 16px;
}

.image_layer {
  background-color: hsla(360, 100%, 100%, 0.21);
  height: 100%;
}

table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 300px;
    overflow-y: auto;
}

thead {
/*     fallback */
}


tbody td, thead th {
    width: 25%;
    float: left;
  }

.navbar-fixed-bottom {
  text-align: center;
  height: 10px;
}
