/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top:      50px;
  background-color: #f5f5f5;
}

body.landing {
  background:       url(outdoor21.jpg) no-repeat center center fixed;
}

body.landing2 {
  background:       url(outdoor10.jpg) no-repeat center center fixed;
  background-size:  100%;
}

footer {
  padding-left:     15px;
  padding-right:    15px;
  background-color: #fff;
  text-align:       center;
  font-size:        8px;
}

.own_detail {
  text-align:       center;
}


/***  HOME PAGE ***/
.p-home {
  font-size: 16px;
}

.span {
  font-size: 10px;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position:           relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition:    all 0.25s ease-out;
    transition:         all 0.25s ease-out;
  }


  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position:     absolute;
    top:          0;
    width:        33%;
    margin-left:  10px;
  }
}


/*** Sidebar navigation ***/

.nav-sidebar, .img-home {
  background-color: #f5f5f5;
  margin-right:     -15px;
  margin-bottom:    20px;
  margin-left:      -15px;
}
.nav-sidebar > li > a {
  padding-right:    20px;
  padding-left:     20px;
}
.nav-sidebar > .active > a {
  color:            #fff;
  background-color: #428bca;
}

/*** Main content ***/

.main {
  padding:          20px;
  background-color: #fff;
}

@media (min-width:  768px) {
  .main {
    padding-right:  40px;
    padding-left:   40px;
  }
}
.main .page-header {
  margin-top:       0;
}

.float-left {
  background-color: hsla(0. 0%, 70%, 1) !important;
}
/*
* {
  border:   1px solid black;
}*/

legend {
  text-align:   center;
  color:        hsla(0, 0%, 70%, 1);
}

.sub-header {
  text-align:   center;
}

.welcome {
  text-align:   center;
}

/*** TABLES ***/

th {
  vertical-align: top !important;
}

.product_box {
  text-align:   right;
}

.col_wt, .col_cal {
  text-align:   right;
}

.col_cal{
  max-width:    70px;
}

.col_wt {
  max-width:    60px;
}

.col_cat {
  max-width:    70px;
}

.col_act {
/*  max-width:      15px;*/
  text-align:     center;
  padding-right:  0px !important;
  padding-left:   0px !important;
}

.col_img {
  text-align: right;
}

.col_check {
  text-align: center;
}

#weight, #calories {
  text-align: right;
}

.img-circle {
  width:  150px;
  height: 150px;
}

.img-home{
  margin:           0px;
  padding:          30px;
  background-color: hsla(0, 0%, 14%, 1);
  color:            hsla(0, 0%, 70%, 1);
  height:           100%;
}

/*** FORMS ***/

#selector {
  border-radius: 50px !important;
}
