/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.navbar-static-top {
  background-color: hsla(0, 0%, 0%, 0);
  min-height: 1px;
}

.pull_right {
  text-align: right;
  margin-top: 10px;
  float: right;
}

html, body {

  font-family: Verdana, Helvetica, Arial, sans-serif;
  background: url(Trailrun_Camp_KlausFengler.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;

/*  background-position: right;
  background-repeat: no-repeat;
  background-size:  contain;
  margin: 50px !important;
  margin-top: 10px;*/
}

fieldset {
  padding: 20px;
  margin: 0px;
  border-top: 0px;
  min-width: 0px;

}

.container {
  margin-top: 0px;
  border-bottom: 50px

}

legend {
  font-size: 18px;
  color: hsla(360, 84%, 98%, 1);
  margin-bottom: 10px;
  padding-top: 50px;

}

h1.header {

  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  color: hsla(360, 84%, 98%, 1);
  margin-top: 0px;
  margin-bottom: 0px;

}

h2.header {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  color: hsla(360, 84%, 98%, 1);
  margin-top: 0px;
  margin-bottom: 0px;

}
/*
.form-horizontal{
  padding: 20px;
}*/

.form-group {
  color: hsla(360, 84%, 98%, 1);
}

.form-group input.entry {
  color: black;
  height: 35px;
  width: 200px;
}

/*.form-control input.entry {
  color: black;
  height: 35px;
  width: 200px;
}*/


.navbar-fixed-bottom {
  text-align: center;
  height: 10px;
}
